---
import BaseLayout from "../layouts/baseLayout.astro"
---
<BaseLayout title="Mi primer blog con Astro">
  <h1 class="text-xl font-bold text-center text-white border-b-2 border-white pb-2">Mi primer Blog con Astro 💻</h1>
</BaseLayout>