<nav class="mx-auto p-10 bg-slate-500 my-10 rounded-lg">
    <ul class="flex justify-between items-center text-white">
        <li class="hover:scale-110 transition-all duration-75"><a class="lg:text-xl font-bold" href="/">Inicio</a></li>
        <li class="hover:scale-110 transition-all duration-75"><a class="lg:text-xl font-bold" href="/about">Sobre mi</a></li>
        <li class="hover:scale-110 transition-all duration-75"><a class="lg:text-xl font-bold" href="/blog">Blog</a></li>
        <li class="hover:scale-110 transition-all duration-75"><a class="lg:text-xl font-bold" href="/test">Testing</a></li>
    </ul>
</nav>
